
# Configuration

# Here you can configure several jabber accounts from which the discovery will
# be made.
# In order to reduce the bandwidth usage, it's better to use an account of a
# jabber server installed on the same host in which the script is running. In
# this case, that account should be the first one.
# You may want add more acounts from popular servers because it seems that 
# some servers doesn't always answer to small servers
[Jabber account 1]
USER                = xxxxxxx
PASSWORD            = xxxxxxx
RESOURCE            = pybot
SERVER              = jabber.example.com


[Jabber account 2]
USER                = xxxxxxx
PASSWORD            = xxxxxxxx
RESOURCE            = pybot
SERVER              = jabberes.org


# Here you can setup your MySQL database configuration
[Database]
USER                = user
PASSWORD            = sql_password
HOST                = localhost
DATABASE            = server_list

UPDATE_DATABASE     = False


[Output configuration]
#The directory where will be generated the HTML and XML files
OUTPUT_DIRECTORY    = ..

GENERATE_HTML_FILES = True
GENERATE_XML_FILES  = True

# Also create gzip compressed files.
COMPRESS_FILES      = True

HTML_FILES_PREFIX   = servers-pybot
XML_FILENAME        = servers-fullinfo.xml

[Server list]
USEURL              = False
SERVERS_URL         = http://www.jabber.org/basicservers.xml
#SERVERS_FILE       = servers-fixed.xml
SERVERS_FILE        = servers-fixed.xml

[Logs]
# If it's not configured, the logs will be written to the standrard output
LOGFILE             = out.log

[Debug]
# If false, load the discovery results from servers.dump file,
# instead waiting while doing the real discovery
DO_DISCOVERY        = True

# Configuration end